/*This style page is organized as follows:

- classes and styles applied to ALL pages
- index.html
- ourServices.html
- ourHistory.html and youConfidence.html
- yourConfidence.html
- 404.html

- closing note by Daedalus LLC
*/


/* ALL .html pages include these */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    rgba(229, 229, 229, 0.8),
    rgba(255, 255, 255, 0.8)
  );
}

nav .logo {
  width: 10vw; /*change to vw*/
  height: auto;
}

nav p {
  text-align: center;
  position: absolute;
  bottom: 5vh;
  left: 30vw;
  font-size: 1.5vw;
}

nav ul {
  position: absolute;
  right: 5vw;
  bottom: 5vh;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 4vw; /*change to vw*/
}
nav ul li a {
  text-decoration: none;
  color: #BC1D25 ;
  font-size: 1.5vw; /*change to vw*/
}

nav ul li a:hover {
  color: #EDECEC;
text-decoration: none;
}

.content{
    margin-top:70vh;
    align-content: center;
    padding: 5%;
}

footer {
  text-align: center;
  font-size: 0.707rem;
  font-family: Arial, Georgia, serif;
}

/* -------------------------- */
/* index.html styles*/

.content h1 {
  font-size: 1.5rem;
  color: #EDECEC;
  text-align: center;
  font-family: Arial, Georgia, "Times New Roman", Times, serif;
  font-style: none; /*italic*/
  background-image: linear-gradient(rgba(186,28,22,.8), rgba(186,28,22,.8));
  padding:3%;
  border-radius: 15%;
  border: solid #BC1D25 .35rem;
}


/* -------------------------- */
/* both index.html and ourServices.html styles*/

.backvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .backvideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .backvideo {
    width: auto;
    height: 100%;
  }
}

@media screen and (max-width: 481px){

    .hero {
      width: 100%;
      height: 50vh;
      background-image: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      );
      position: relative;
      padding: 0 5%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    nav {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 8%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-image: linear-gradient(
        rgba(229, 229, 229, 0.8),
        rgba(255, 255, 255, 0.8)
      );
    }

    nav .logo {
      width: 10vw; /*change to vw*/
      height: auto;
    }

    nav p {
      text-align: center;
      position: absolute;
      bottom: 5vh;
      left: 30vw;
      font-size: 1.5vw;
    }

    nav ul {
      position: absolute;
      right: 5vw;
      bottom: 5vh;
    }

    nav ul li {
      list-style: none;
      display: inline-block;
      margin-left: 4vw; /*change to vw*/
    }
    nav ul li a {
      text-decoration: none;
      color: #BC1D25 ;
      font-size: 1.5vw; /*change to vw*/
    }

    nav ul li a:hover {
      color: #EDECEC;
    text-decoration: none;
    }

    .content{
        margin-top:70vh;
        align-content: center;
        padding: 5%;
    }

    footer {
      text-align: center;
      font-size: 0.707rem;
      font-family: Arial, Georgia, serif;
      margin-top:2.5%;
      display:block;
      position:relative;
    }
  


}

/* -------------------------- */
/* ourServices.html styles*/

.heading {
  background-color: #BC1D25 ; /*dark red*/
  color: #EDECEC;
  text-align: center;
  padding: 3vw;
  margin: 20vw 0vw 0vw 0vw;
  font-weight: 900;
  font-size: 2.827rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display:inline-block;

}

.serviceList{
    position:relative;
    display:inline-block;
    align-content: space-between;
}

.table{
    background-image: linear-gradient( 
        rgba(229, 229, 229, 0.9),
        rgba(255, 255, 255, 0.7));
}

.table tr.tableRow:hover {
    background-color:#7C7C7C;
    visibility: visible;
}

.table tr a {
    text-decoration: none;
    color:inherit;
}


.serviceSection{
    padding: 5%;
    color:#0E0E0E;
    text-align: right;

}
.serviceSection h3{
    color:#EDECEC;
}

.serviceSection div img{
    max-height: 60vh;
    max-width:40vw;
    padding:0.5%;
    object-fit: contain;
    position:relative;
    float:left;
    display:inline-flex;
    border: 1.5rem #EDECEC solid;
    border-radius: 5%;
    
    
}
#excavationService{
    background-color:#747474;   
    
}

#truckingService{
    text-align: left;
}
#truckingService img{
    float:right;
}


#dirtworkService{
    background-color:#747474;
    text-align:right;
}
#dirtworkService img{
    float:left;
}

#utilityService{
    text-align: left;
}
#utilityService img{
    float:right;
}



/* -------------------------- */
/* ourHistory.html and yourConfidence styles*/
#historyPic{
    margin:auto;
    max-width: 100vw;
    max-height:auto;
    padding:0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}


/* -------------------------- */
/* ourServices and yourConfidence.html styles*/

section{
    background-color:#BC1D25;
    max-width:100%;
    height:95vh;
    margin:0;
    position:relative;
    padding:0;
    color:#BC1D25 ;
    text-align: center;
    font-size: 1.25rem;
    font-family: Arial, serif;
    
     
}


/* -------------------------- */
/* yourConfidence.html styles*/


#confidenceHero{
    background-color: #7C7C7C;
}
#overall{
    width:100vw;
    height:100vh;
    overflow: hidden;
    background-image: url(Rapid_images/graphic.png);
    opacity:0.75;
    background-repeat: no-repeat;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content:center;
    background-position:center;
}

div iframe{
    position:absolute;
    display:block;
    width:20vw;
    height:30vh;
    left:5%;
    margin:35% 0 0 0;
    border-radius:5%;
    opacity:.85;
}

.contact{
    width:100vw;
    height:inherit;
    display:inline-flex;
    justify-content: center;
    margin-top:2.5% 0 0 0;
    font-family:Arial, sans-serif;
    color:#0E0E0E;
    font-weight:bolder;
    background-color: #EDECEC ;
}
.contact p{
    font-size:.75rem;
    color:#BC1D25;
    font-weight: normal;
}
.contact a{
    font-style:none;
    color:inherit;
}

.contact a:hover{
    color: #0E0E0E;
}

.contact h2{
    font-size: 2.5rem;
}

.contactInfo{
    margin:0 0 0 0;
    padding:5%;
    text-align:center;
    
}

#reviewSection{
    margin:0;
    padding:0;
    display:flex;
    color:#0E0E0E;
    height:auto;
}

.checked {
    color:#DAA520;
}

.review {
    margin:5%;
    width:50vw;
    height:50vh;
    background-image: linear-gradient:
        (rgba(237, 236, 236, .3), 
        rgba(237, 236, 236, .6));
    
}

.review a{
    color:inherit;
}

.review a:hover{
    font-style:italic;
    color:inherit;
    text-decoration: none;
    
}



/* -------------------------- */
/* 404.html styles*/

#notFound{
    width:55vw;
    height:55vh;
    margin:0;
    padding:0;
    background-repeat: no-repeat;
    background-size:100%;
    position:relative;
    text-align:center;

}
#notFound img{
    margin-left:auto;
    margin-right:auto;
    margin-top: -50vh;
}

#notFound h3{
    margin-top:-35vh;
}

/* -------------------------- */
/* CLOSING NOTE*/
/* This css has been created for and in service to Rapid Services LLC by Daedalus LLC */