/*This style page is organized as follows:

- classes and styles applied to ALL pages
- index.html
- ourServices.html
- ourHistory.html and youConfidence.html
- yourConfidence.html
- 404.html

- closing note by Daedalus LLC
*/


/* ALL .html pages include these */
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#body{
    background-color: #EDECEC;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(
    rgba(229, 229, 229, 0.8),
    rgba(255, 255, 255, 0.8)
  );
}

nav .logo {
  width: 15vw; /*change to vw*/
  height: auto;
}

nav p {
  text-align: center;
  position: absolute;
  bottom: 5vh;
  left: 30vw;
  font-size: 1.5vw;
}

nav ul {
  position: absolute;
  right: 5vw;
  bottom: 5vh;
}

nav ul li {
  list-style: none;
  display: inline-flex;
  margin-left: 4vw; /*change to vw*/
}
nav ul li a {
  text-decoration: none;
  color: #BC1D25 ;
  font-size: 1.5vw; /*change to vw*/
}

nav ul li a:hover {
  color: #7C7C7C;
text-decoration: none;
}

.content{
    margin-top:70vh;
    align-content: center;
    padding: 5%;
}

#footer {
  text-align: center;
  font-size: 1vw;
  font-family: Arial, Georgia, sans-serif;
  margin:.5% 0 0 0;
  background-color: #EDECEC;
  padding:0;
  position:relative;
  display:block;
}

/* -------------------------- */
/* index.html styles*/

.content h1 {
  font-size: 2.5vw;
  color: #EDECEC;
  text-align: center;
  font-family: Arial, Georgia, "Times New Roman", Times, serif;
  font-style: none; /*italic*/
  background-image: linear-gradient(rgba(186,28,22,.8), rgba(186,28,22,.8));
  padding:3%;
  border-radius: 15%;
  border: solid #BC1D25 .35rem;
}


/* -------------------------- */
/* both index.html and ourServices.html styles*/

.backvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .backvideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .backvideo {
    width: auto;
    height: 100%;
  }
}

/*

@media screen and (max-width: 481px){

    .hero {
      width: 100%;
      height: 50vh;
      background-image: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      );
      position: relative;
      padding: 0 5%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    nav {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px 8%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-image: linear-gradient(
        rgba(229, 229, 229, 0.8),
        rgba(255, 255, 255, 0.8)
      );
    }

    nav .logo {
      width: 10vw; 
      height: auto;
    }

    nav p {
      text-align: center;
      position: absolute;
      bottom: 5vh;
      left: 30vw;
      font-size: 1.5vw;
    }

    nav ul {
      position: absolute;
      right: 5vw;
      bottom: 5vh;
    }

    nav ul li {
      list-style: none;
      display: inline-block;
      margin-left: 4vw; 
    }
    nav ul li a {
      text-decoration: none;
      color: #BC1D25 ;
      font-size: 1.5vw; 
    }

    nav ul li a:hover {
      color: #EDECEC;
    text-decoration: none;
    }

    .content{
        margin-top:70vh;
        align-content: center;
        padding: 5%;
    }

  


}
*/

/* -------------------------- */
/* ourServices.html styles*/

.heading {
  background-color: #BC1D25 ; /*dark red*/
  color: #EDECEC;
  text-align: center;
  position:relative;
  padding: 2% 35% 2% 35%;
  margin: 20vw 0vw 0vw 0vw;
  font-weight: 900;
  font-size: 3.5vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  

}

.serviceList{
    position:relative;
    display:inline-block;
    align-content: space-between;
}

.table{
    background-image: linear-gradient( 
        rgba(229, 229, 229, 0.9),
        rgba(255, 255, 255, 0.7));
}

.table tr a {
    text-decoration: none;
    color:inherit;
}

.service1, .service2, .service3, .service4 {
    background-color:inherit;
}

.service1: hover{
    background-color:#7C7C7C;
    visibility: visible; 
}
.service2: hover{
    background-color:#7C7C7C;
    visibility: visible;
}
.service3: hover{
    background-color:#7C7C7C;
    visibility: visible;
}
.service4: hover{
    background-color:#7C7C7C;
    visibility: visible;
}


.serviceSection{
    padding: 5%;
    color:#0E0E0E;
    text-align: right;

}

.serviceSection h3{
    color:#EDECEC;
}

.serviceSection div img{
    max-height: 60vh;
    max-width:40vw;
    padding:0.5%;
    object-fit: contain;
    position:relative;
    float:left;
    display:inline-flex;
    border: 1.5rem rgba(237,236,236,.6) solid;
    border-radius: 5%;    
}

#excavationService{
    background-color:#747474;   
    
}

#truckingService{
    text-align: left;
}
#truckingService img{
    float:right;
}


#dirtworkService{
    background-color:#747474;
    text-align:right;
}
#dirtworkService img{
    float:left;
}

#utilityService{
    text-align: left;
}
#utilityService img{
    float:right;
}



/* -------------------------- */
/* ourHistory.html and yourConfidence styles*/
#historyHero{
    overflow-y: hidden;
    height:100vh;
    width:100vw;
}

#historyPic{
    margin:auto;
    width:80vw;
    height:auto;
    padding:0;
    z-index: -1;
    position:relative;
    
}

#historyPicBlur{
    width:70vw;
    height:60vh;
    max-height:60vh;
    max-width: 70vw;
    border:.5vw #7C7C7C solid;
    border-radius: 15%;
    margin-top: 15%;
    position:absolute;
    z-index:0;
    padding:0;
    background-image: linear-gradient( rgba(124, 124,124, 0.9),
    rgba(124,124,124, 0.8))
}

#historyPicBlur h1{
    color:#EDECEC;
    font-size:2.5vw;
    margin:5%;
    font-family:serif;
    text-align:center;
    padding:2.5%;
}
/* -------------------------- */
/* ourServices and yourConfidence.html styles*/

section{
    background-color:#BC1D25;
    max-width:100%;
    height:95vh;
    margin:0;
    position:relative;
    padding:0;
    color:#BC1D25 ;
    text-align: center;
    font-size: 2vw;
    font-family: Arial, serif;
    
     
}


/* -------------------------- */
/* yourConfidence.html styles*/


#confidenceHero{
    background-color: #7C7C7C;
    height:65vh;
    width:100vw;
}
#overall{
    width:45vw;
    height:65vh;
    opacity:0.75;
    position:relative;
    margin-top:0%;
    margin-left:50%;
    padding: 0;
    display:inline-flex;
    opacity:0.8;
}

iframe{
    position:absolute;
    display:inline-flex;
    width:40vw;

    margin-right:50%;
    margin-top:10%;
    height:40vh;
    border-radius:5%;
    opacity:1.0;
}

.contact{
    width:100vw;
    height:inherit;
    display:inline-flex;
    justify-content: center;
    font-family:Arial, sans-serif;
    color:#0E0E0E;
    font-weight:bolder;
    background-color: #EDECEC ;
}
.contactInfo{
    margin:0.5%;
    padding:0;
}
.contact p{
    font-size:1.25vw;
    color:#BC1D25;
    font-weight: normal;
}
.contact a{
    font-style:none;
    color:inherit;
}

.contact a:hover{
    color: #0E0E0E;
}

.contact h2{
    font-size: 3.25vw;
}

.contactInfo{
    margin:0 0 0 0;
    padding:5%;
    text-align:center;
    
}

#reviewSection{
    margin:0;
    padding:0;
    display:flex;
    color: #0E0E0E;
    height:auto;
}

.checked {
    color: #EDECEC;
        
}

.review {
    margin:5%;
    width:50vw;
    height:50vh;
    background-image: linear-gradient:
        (rgba(237, 236, 236, .3), 
        rgba(237, 236, 236, .6));
    
}

.review a{
    color:inherit;
}

.review a:hover{
    font-style:italic;
    color:inherit;
    text-decoration: none;
    
}



/* -------------------------- */
/* 404.html styles*/

#notFound{
    width:55vw;
    height:55vh;
    margin:0;
    padding:0;
    background-repeat: no-repeat;
    background-size:100%;
    position:relative;
    text-align:center;

}
#notFound img{
    margin-left:auto;
    margin-right:auto;
    margin-top: -50vh;
}

#notFound h3{
    margin-top:-35vh;
}

/* -------------------------- */
/* CLOSING NOTE*/
/* This css has been created for and in service to Rapid Services LLC by Daedalus LLC */